:root {
  --cor0: #FFF;
  --cor1: #000;
  --cor2: #F0270B; /* BUTTON */
  --cor3: #0085ff; /* HEADER */
  --cor4: #3a4042; /* BACKGROUND HEADLINE */
  --cor5: #e0a406; /* HEADLINE */
  --cor6: #490500; /* BORDER */
  --cor7: #4F172D; /* CONTATOS */
  --cor8: #003264; /* SOBRE */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

h1 {
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
  text-indent: -9000px;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.font-fira-20-500 {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;   
  text-decoration: none;
  color: var(--cor0);
}

.font-fira-30-300{
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;   
  text-decoration: none;
  color: var(--cor0);
}

.font-press-400 {
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor3);
  border-bottom: 10px solid var(--cor1);
}

.menu {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}

.icon-menu {
  display: block;
  background-image: url(../img/header/icon-menu.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
}

.icon-close{
  font-family: 'Press Start 2P', sans-serif;
  color: #FFF;
  text-decoration: none;
  font-size: 35px;
  transition: transform 100ms linear;
}

.icon-close:hover{
  transform: scale(1.2);
  color: #FFF;
}

.links {
  display: flex;
  align-items: center;
}

.link-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.link-nav:hover{
  color: #fff;
}

.button-downloadcv a {
  color: var(--cor0);
  text-decoration: none;
}

.button-downloadcv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor2);
  height: 60px;
  box-shadow: 5px 5px 0px var(--cor1);
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  transition: transform 100ms linear;
  text-decoration: none;
}

header .button-downloadcv {
  margin-right: 20px;
}

.button-downloadcv:hover {
  transform: scale(1.07);
  color: #FFF;
}

.logoheader {
  width: 60px;
  height: 60px;
  margin: 10px 0 10px 20px;
  border: solid var(--cor1) 1px;
}

.link-nav::before {
  content: "";
  background-color: var(--cor2);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.background-sonic {
  background-image: url(../img/section-1/bg-sonic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-bottom: 10px solid var(--cor1);
}

.line-break {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 140px 0 0 91px;
}

.background-tittle {
    display: inline-flex;
    background-color: var(--cor4);
    box-shadow: 10px 10px 0px var(--cor1);
    align-items: center;
    flex-direction: column;
}

.background-tittle .headline {
  font-size: 40px;
  color: var(--cor5);
  text-shadow: 4px 4px 0px var(--cor1);
  padding: 46px 74px 0px 73px;
}

.background-tittle h2 {
  color: var(--cor0);
  font-size: 30px;
  text-shadow: 4px 4px 0 var(--cor1);
  padding-bottom: 42px;
}

.button-cv-contatos {
  display: flex;
  background: none;
  border: none;
  gap: 112px;
  margin-top: 38px;
}

.button-cv-contatos a {
  width: 172px;
}

.button-downloadcv-sonic {
  margin-left: 181px;
  margin-right: 112px;
}

.button-downloadcv-sonic:hover {
  transform: scale(1.07);
  color: #FFF;
}

.button-contatos-sonic:hover {
  transform: scale(1.07);
  color: #FFF;
}

/* SKILLS */
#background-mario {
  background-image: url(../img/section-mario/mario425.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  border-bottom: 10px solid var(--cor6);
}

.headline-skills-mario {
   font-size: 40px;
   padding-top: 50px;
   margin-bottom: 117px;
}

.wrapper-skill{
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-skill .skills{
  width: 430px;
  margin-bottom: 40px;
}

.wrapper-skill .skills:nth-child(odd){
  margin-right: 100px;
}

.wrapper-skill .progress-bar{
  width: 320px;
}

.skills{
  display: flex;
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: var(--cor1);
}

.skills .icon{
  margin-right: 25px;
  width: 90px;
}

.skills .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.progress-bar {
  box-sizing: border-box;
  height: 40px;
  border: 6px solid var(--cor1);
}

.progress-bar::-moz-progress-value {
  background-color: #4F172D;
}

.progress-bar::-moz-progress-bar {
  background-color: var(--cor0);
  border: 1px solid var(--cor1);
  outline: 3px solid var(--cor1);
}

.progress-bar::-webkit-progress-value {
  background-color: #4F172D;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--cor0);
  border: 1px solid var(--cor1);
  outline: 3px solid var(--cor1);
}


/* PROJETOS */
#background-projeto {
  background-color: var(--cor1);
  height: 520px;
  text-align: center;
  border-bottom: 10px solid #3a4042;
}

.headline-white {
  color: var(--cor0);
  font-size: 40px;
}

/* SOBRE */
.background-sobre{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--cor8);
  color: var(--cor0);
  border-bottom: 10px solid var(--cor1);
}

.logo-projeto {
  margin: 70px 0 20px 0;
  height: 280px;
  width: 280px;
  border: none;
  box-shadow: 5px 5px 0 var(--cor0);
}

.carousel {
  position: relative;
}

.carousel .arrow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 66px 0 50px 0;
}

.carousel .arrow-margin{
  margin-top: 68px;
}

.carousel .button-arrow {
  color: var(--cor0);
  background-color: var(--cor1);
  width: 40px;
  height: 40px;
  box-shadow: 3px 3px 0px  var(--cor0);
  cursor: pointer;
  margin: 0 15px 0 15px;
}

.button-arrow .content {
  display: none;
}

.button-arrow::before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  border: 13px solid transparent;
  border-left: 21px solid var(--cor0);
  transform: translateX(9px);
}

.button-arrow.-left::before {
  transform: rotate(180deg) translateX(7px);;
  
}

.carousel .node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel::after{
  content: '';
  position: absolute;
  left: 40px;
  top: 100px;
  height: 4px;
  width: calc(100% - 80px);
  background-color: #000;
}

.carousel::before{
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 100px;
  height: 0;
  width: 100%;
  border: 2.24px dashed #000;
}

.node-card::before{
  content: '';
  position: absolute;
  height: 0;
  width: 43px;
  box-sizing: border-box;
  border-top: 4.300000000000001px dashed var(--cor1);
  transform: rotate(90deg) translate(-62%);
  bottom: 131px;
}

.node-card .logo {
  display: flex;
  align-items: center;
  background-color: var(--cor0);
  height: 140px;
  padding: 0 20px 0 20px;
  border: 5px solid var(--cor1);
}

.node-card .-logoclenea {
  background-color: #B8E2F0;
}

.node-card .-logonext {
  background-color: #7473BF;
}

.node-card .tittle {
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: var(--cor0);
  margin-bottom: 50px;
}

.carousel .items {
  width: 100%;
  overflow: hidden;
}

.carousel .elements {
  display: flex;
  justify-content: space-evenly;
  transition: transform 500ms ease-out;
  gap: 50px;
}

article p {
  max-width: 1075px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* CONTATOS */

.font-press-400.-variation{
  color: #FFF;
  margin-bottom: 50px;
}

.main-form{
  background-color: var(--cor7);
  padding: 50px 40px;
}

.main-form .main-input{
  margin-bottom: 20px;
}

.main-form .main-input.-textarea {
  margin-bottom: 40px;
}

.main-label{
  color: #fff;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
}

.main-input {
  border: 5px solid #000;
  font-size: 30px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 4px 0 4px;
}

.main-input.-textarea{
  height: 320px;
}

.button-downloadcv.-full {
  background-color: #000;
  color: #fff;
  width: 100%;
}

.button-downloadcv.-full:hover {
  transform: scale(1.01);
}

#rodape {
  display: flex;
  justify-content: center;
  background-color: #000;
  gap: 40px;
  padding: 28px 0 27px 0;
}

/* @media(max-width: 1440px) {
  body {
    width: 1200px;
  }
}

@media(max-width: 1200px) {
  body {
    width: 1000px;
  }
}

*/


@media(max-width: 1024px) {
  
  .wrapper-skill{
    justify-content: center;
    gap: 25px;
  }
  
  .wrapper-skill .skills:nth-child(odd),.wrapper-skill .skills{
    margin: 0;
  }

  article p {
    max-width: 742px;
  }

}

@media (max-width: 980px){
  .main-header > #menu {
    display: none;
    position: fixed;
    background-color: var(--cor3);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 16px;
  }
  
  .main-header .links{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
  }
  
  .main-header .icon-close {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  
}

@media (min-width: 980px){

  .main-header .icon-menu, .main-header .icon-close {
    display: none;
  }

  
}

@media(max-width: 768px) {

  #background-mario {
    background-image: url(../img/section-mario/mario768.jpg);
  }

} 

@media (max-width: 425px) {
  
  body {
    min-width: fit-content;
  }


  .logoheader {
    height: 80px;
    width: 80px;
  }

  
  .background-sonic{
    background-image: url(../img/section-1/bg-sonic.png);
    background-position: bottom;
    height: 916px;
  }
  
  #background-mario {
    background-image: url(../img/section-mario/mario425768.jpg);
    background-position: bottom;
    height: 1181px;
  }
  
  .button-downloadcv{
    margin: 20px 20px 20px 20px;
  }
  
  .font-fira-20-500 {
    font-size: 30px;
  }  
  
  .font-fira-30-300 {

    font-size: 35px;
  }
  
  .line-break{
    display: flex;
    margin: 130px 0 0 0px;
  }

  .background-tittle .headline {
    font-size: 45px;   
  }

  .background-tittle h2 {
    font-size: 35px;  
  }
  

  .button-cv-contatos{
    gap: 0;
    margin-top: 0;
  }
  
  .button-cv-contatos a {
    width: 239px;
  }

}
/* 
@media(max-width: 425px) {
  body {
    width: 320px;
  }
}
 */

@media(max-width: 320px) {
 .menu {
  margin-right: 121px;
 }
}