*,
*::before,
*::after {
  padding: 0;
  margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

h1 {
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
  text-indent: -9000px;
}

body {
  display: grid;
}

.font-fira-20-500 {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;   
  text-decoration: none;
  color: #FFFFFF;
}

.font-fira-30-300{
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;   
  text-decoration: none;
  color: #fff;
}

.font-press-400 {
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

header {
  background-color: #0085ff;
  border-bottom: 10px solid #000;
}

#menu {
  display: flex;
  padding-bottom: 5px;
}

.links {
  display: flex;
  margin-left: auto;
}

.link-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;

}

.button-downloadcv a {
  color: #FFFFFF;
  text-decoration: none;
}

.button-downloadcv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0270B;
  height: 60px;
  box-shadow: 5px 5px 0px #000000;
  padding-left: 15px;
  padding-right: 20px;
  border: none;
  margin: 10px 20px 10px 20px;
  transition: transform 100ms linear;
  text-decoration: none;
}
.button-downloadcv:hover {
  transform: scale(1.07);
}

.logoheader {
  width: 60px;
  height: 60px;
  margin: 10px 0 10px 20px;
  border: solid #000 1px;
}

a::before {
  content: "";
  background-color: #f0270b;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.background-sonic {
  background-image: url(../img/section-1/background-sonic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-bottom: 10px solid #000;
}

.background-tittle {
  display: inline-flex;
  background-color: #3a4042;
  box-shadow: 10px 10px 0px #000000;
  margin-left: 91px;
  margin-top: 145px;
  align-items: center;
  flex-direction: column;
}

.background-tittle .headline {
  font-size: 40px;
  color: #e0a406;
  text-shadow: 4px 4px 0px #000000;
  padding: 46px 74px 26px 73px;
}

.background-tittle h2 {
  color: #fff;
  font-size: 30px;
  text-shadow: 4px 4px 0 #000;
  padding-bottom: 42px;
}

.button-cv-contatos {
  display: flex;
  background: none;
  border: none;
}

.button-cv-contatos a {
  padding: 17px 18px 17.43px 5px;
  margin-top: 38px;
}

.button-downloadcv-sonic {
  margin-left: 181px;
  margin-right: 112px;
}


.red-buttons {
  width: 170px;
  background-color: #F0270B;
  height: 60px;
  box-shadow: 5px 5px 0px #000000;
  border: none;
  transition: transform 100ms linear;
  text-align: center;
  width: 170px;
}


.button-downloadcv-sonic:hover {
  transform: scale(1.07);
}

.button-contatos-sonic:hover {
  transform: scale(1.07);
}

#background-mario {
  background-image: url(../img/section-mario/mario.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom: 10px solid #490500;
  text-align: center;
}

.headline-skills-mario {
   font-size: 40px;
   padding-top: 50px;
}

.lista-skill {
  margin-top: 117px;
}

#background-projeto {
  background-color: #000;
  height: 520px;
  text-align: center;
  border-bottom: 10px solid #3a4042;
}

.headline-white {
  color: #FFF;
  font-size: 40px;
}

.logo-projeto {
  margin-top: 50px;
  height: 280px;
  width: 280px;
  border: none;
  box-shadow: 5px 5px 0 #fff;
}

.background-sobre{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #003264;
  color: #FFF;
  border-bottom: 10px solid #000;
}


.background-contatos {
  background-color: #4F172D;
}

.carrossel {
  width: 1410px;
  margin: 0 auto;
  padding: 40px 0 40px 147px;
}
